* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* flex box */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
}

body * {
  border: 1px solid rgb(0, 0, 0);

  font-family: Helvetica, Arial, sans-serif;
  
  /* 최소한의 margin */
  margin: 5px;
}

/* title area */

.title-area {
  /* flexbox */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  /* position */
  z-index: 50;
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title-area #title {
  font-size: 14px;
}

.title-area #description {
  font-size: 12px;
}

/* drag area */

.drag-area {
  /* flex box */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  /* size */
  margin: 0;
  flex: 1;
  width: 100vw;

  /* position */
  z-index: 100;
}

.drag-area.hidden {
  /* hiding */
  display: none;
}

.drag-area .icon {
  font-size: 20px;
}

.drag-area #drag-and-drop-msg {
  font-size: 14px;
}

.drag-area #or-msg {
  font-size: 14px;
}

.drag-area button {
  font-size: 14px;
  outline: none;
  background: rgb(214, 214, 214);
  cursor: pointer;
}

/* button area */

.button-area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  /* position */
  z-index: 100;
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-area button {
  font-size: 14px;
  outline: none;
  cursor: pointer;
}

/* image area */

.image-area {
  /* flex box */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  /* size */
  height: 600px;
  width: 600px;

  /* position */
  z-index: 90;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-area canvas {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* palette area */

.palette-area {
  /* flex box */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  /* size */
  width: 30px;
  /* height: 600px; */

  /* position */
  z-index: 30;
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%);

  overflow: hidden;
}

.palette-area .item {
  /* size */
  margin: 2px;
  height: 20px;
  width: 20px;
}
